docarray==0.40.0
huggingface-hub==0.20.2
langchain==0.1.0
langchain-community==0.0.9
langchain-core==0.1.7
langchain-openai==0.0.2
langsmith==0.0.77
numpy==1.24.4
openai==1.6.1
opentelemetry-api==1.22.0
opentelemetry-exporter-otlp-proto-common==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-instrumentation==0.43b0
opentelemetry-instrumentation-asgi==0.43b0
opentelemetry-instrumentation-fastapi==0.43b0
opentelemetry-proto==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-semantic-conventions==0.43b0
opentelemetry-util-http==0.43b0
orjson==3.9.10
pandas==2.0.3
streamlit==1.29.0
tiktoken==0.5.2
tokenizers==0.15.0
toml==0.10.2